<!-- ingredients flags Section -->
<style>
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>

    <section class="success" id="data_infos">
        <div class="w3-container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Data Informations</h2>
                    <hr class="star-2">
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <p>The DataSet was constituted of 15894 recipes coming from different websites. </p>
                    <p>Because of this, it was important to clean the Data before using it. </p>
                </div>
            </div>
            <div class="w3-container">
                <img class="center" src="img/recipe_count_per_region.png" style="width:100%">
            </div>

            <div class="w3-container">
                <img class="center" src="img/Flags/titles_wordcloud.svg" style="width:80%">
            </div>

            <style>
            .mySlides {display:none;}
            </style>

            <div class="w3-content w3-display-container">

                <div class="w3-display-container mySlides">
                    <img class="center" src="img/Flags/us_ing.svg" style="width:50%">
                    <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                    US recipes
                    </div>
                </div>

                <div class="w3-display-container mySlides">
                    <img class="center" src="img/Flags/italian_ing.svg" style="width:50%">
                    <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                    Italian recipes
                    </div>
                </div>

                <div class="w3-display-container mySlides">
                    <img class="center" src="img/Flags/mexican_ing.svg" style="width:50%">
                    <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                    Mexican recipes
                    </div>
                </div>

                <div class="w3-display-container mySlides">
                    <img class="center" src="img/Flags/canadian_ing.svg" style="width:50%">
                    <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                    Canadian recipes
                    </div>
                </div>

                <div class="w3-display-container mySlides">
                    <img class="center" src="img/Flags/indian_ing.svg" style="width:50%">
                    <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
                    Indian recipes
                    </div>
                </div>
                    
                
                <div class="w3-center w3-container w3-section w3-large w3-text-black w3-display-bottommiddle" style="width:50%">
                <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-black" onclick="currentDiv(1)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-black" onclick="currentDiv(2)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-black" onclick="currentDiv(3)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-black" onclick="currentDiv(4)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-black" onclick="currentDiv(5)"></span>
                </div>  

            </div>

    </div>

    <div class="html-img-container center">
        <div class="html-img">
            <object type="text/html" data="img/ingredients_chord.html" width="100%" height="100%" scrolling="no"></object>
        </div>
    </div>
</section>


<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-black", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-black";
}
</script>